In [1]:
# import packages 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression

In [2]:
Ridedata = pd.read_csv('/Users/shayansorooshian/Downloads/archive/cab_rides.csv')
Weatherdata = pd.read_csv('/Users/shayansorooshian/Downloads/archive/weather.csv')

In [3]:
Ridedata.info

<bound method DataFrame.info of         distance cab_type     time_stamp    destination            source  \
0           0.44     Lyft  1544952607890  North Station  Haymarket Square
1           0.44     Lyft  1543284023677  North Station  Haymarket Square
2           0.44     Lyft  1543366822198  North Station  Haymarket Square
3           0.44     Lyft  1543553582749  North Station  Haymarket Square
4           0.44     Lyft  1543463360223  North Station  Haymarket Square
...          ...      ...            ...            ...               ...
693066      1.00     Uber  1543708385534      North End          West End
693067      1.00     Uber  1543708385534      North End          West End
693068      1.00     Uber  1543708385534      North End          West End
693069      1.00     Uber  1543708385534      North End          West End
693070      1.00     Uber  1543708385534      North End          West End

        price  surge_multiplier                                    id  \
0         5.0               1.0  424553bb-7174-41ea-aeb4-fe06d4f4b9d7
1        11.0               1.0  4bd23055-6827-41c6-b23b-3c491f24e74d
2         7.0               1.0  981a3613-77af-4620-a42a-0c0866077d1e
3        26.0               1.0  c2d88af2-d278-4bfd-a8d0-29ca77cc5512
4         9.0               1.0  e0126e1f-8ca9-4f2e-82b3-50505a09db9a
...       ...               ...                                   ...
693066   13.0               1.0  616d3611-1820-450a-9845-a9ff304a4842
693067    9.5               1.0  633a3fc3-1f86-4b9e-9d48-2b7132112341
693068    NaN               1.0  64d451d0-639f-47a4-9b7c-6fd92fbd264f
693069   27.0               1.0  727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e
693070   10.0               1.0  e7fdc087-fe86-40a5-a3c3-3b2a8badcbda

                                  product_id          name
0                                  lyft_line        Shared
1                               lyft_premier           Lux
2                                       lyft          Lyft
3                                lyft_luxsuv  Lux Black XL
4                                  lyft_plus       Lyft XL
...                                      ...           ...
693066  6f72dfc5-27f1-42e8-84db-ccc7a75f6969        UberXL
693067  55c66225-fbe7-4fd5-9072-eab1ece5e23e         UberX
693068  8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a          Taxi
693069  6d318bcc-22a3-4af6-bddd-b409bfce1546     Black SUV
693070  997acbb5-e102-41e1-b155-9df7de0a73f2      UberPool

[693071 rows x 10 columns]>

In [4]:
Weatherdata.info

<bound method DataFrame.info of        temp                 location  clouds  pressure    rain  time_stamp  \
0     42.42                 Back Bay    1.00   1012.14  0.1228  1545003901
1     42.43              Beacon Hill    1.00   1012.15  0.1846  1545003901
2     42.50        Boston University    1.00   1012.15  0.1089  1545003901
3     42.11                   Fenway    1.00   1012.13  0.0969  1545003901
4     43.13       Financial District    1.00   1012.14  0.1786  1545003901
...     ...                      ...     ...       ...     ...         ...
6271  44.72            North Station    0.89   1000.69     NaN  1543819974
6272  44.85  Northeastern University    0.88   1000.71     NaN  1543819974
6273  44.82            South Station    0.89   1000.70     NaN  1543819974
6274  44.78         Theatre District    0.89   1000.70     NaN  1543819974
6275  44.69                 West End    0.89   1000.70     NaN  1543819974

      humidity   wind
0         0.77  11.25
1         0.76  11.32
2         0.76  11.07
3         0.77  11.09
4         0.75  11.49
...        ...    ...
6271      0.96   1.52
6272      0.96   1.54
6273      0.96   1.54
6274      0.96   1.54
6275      0.96   1.52

[6276 rows x 8 columns]>

In [5]:
Ridedata.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

In [6]:
Ridedata = Ridedata.dropna(axis=0)

In [7]:
Weatherdata.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [8]:
Weatherdata = Weatherdata.fillna(0)

In [9]:
Weatherdata.isna().sum()

temp          0
location      0
clouds        0
pressure      0
rain          0
time_stamp    0
humidity      0
wind          0
dtype: int64

In [10]:
Weatherdata.groupby('location').mean()

,temp,clouds,pressure,rain,time_stamp,humidity,wind
location,,,,,,,
Back Bay,39.082122,0.678432,1008.447820,0.007925,1.543857e+09,0.764073,6.778528
Beacon Hill,39.047285,0.677801,1008.448356,0.008297,1.543857e+09,0.765048,6.810325
Boston University,39.047744,0.679235,1008.459254,0.007738,1.543857e+09,0.763786,6.692180
Fenway,38.964379,0.679866,1008.453289,0.007343,1.543857e+09,0.767266,6.711721
Financial District,39.410822,0.676730,1008.435793,0.008563,1.543857e+09,0.754837,6.860019
Haymarket Square,39.067897,0.676711,1008.445239,0.008660,1.543857e+09,0.764837,6.843193
North End,39.090841,0.676730,1008.441912,0.008644,1.543857e+09,0.764054,6.853117
North Station,39.035315,0.676998,1008.442811,0.008649,1.543857e+09,0.765545,6.835755
Northeastern University,38.975086,0.678317,1008.444168,0.007358,1.543857e+09,0.767648,6.749426
South Station,39.394092,0.677495,1008.438031,0.008310,1.543857e+09,0.755468,6.848948
Theatre District,38.986711,0.677763,1008.444742,0.008405,1.543857e+09,0.767992,6.834302
West End,38.983403,0.677247,1008.441090,0.008657,1.543857e+09,0.767266,6.816233

In [11]:
# why do i need a specify axis what is 0 vs 1 
avg_weather = Weatherdata.groupby('location').mean()
avg_weather = Weatherdata.drop('time_stamp', axis = 1)

In [12]:
from_weather = avg_weather.rename(columns = {
                                            'location': 'source',
                                            'temp' : 'source_temp',
                                            'clouds': 'source_clouds',
                                           'pressure': 'source_pressure',
                                           'rain': 'source_rain',
                                            'humidity': 'source_humidity',
                                           'wind': 'source_wind' })

In [13]:
to_weather = avg_weather.rename(columns = {
                                            'location': 'destination',
                                            'temp' : 'destination_temp',
                                            'clouds': 'destination_clouds',
                                           'pressure': 'destination_pressure',
                                           'rain': 'destination_rain',
                                            'humidity': 'destination_humidity',
                                           'wind': 'destination_wind' })

In [14]:
from_weather

,source_temp,source,source_clouds,source_pressure,source_rain,source_humidity,source_wind
0,42.42,Back Bay,1.00,1012.14,0.1228,0.77,11.25
1,42.43,Beacon Hill,1.00,1012.15,0.1846,0.76,11.32
2,42.50,Boston University,1.00,1012.15,0.1089,0.76,11.07
3,42.11,Fenway,1.00,1012.13,0.0969,0.77,11.09
4,43.13,Financial District,1.00,1012.14,0.1786,0.75,11.49
...,...,...,...,...,...,...,...
6271,44.72,North Station,0.89,1000.69,0.0000,0.96,1.52
6272,44.85,Northeastern University,0.88,1000.71,0.0000,0.96,1.54
6273,44.82,South Station,0.89,1000.70,0.0000,0.96,1.54
6274,44.78,Theatre District,0.89,1000.70,0.0000,0.96,1.54
6275,44.69,West End,0.89,1000.70,0.0000,0.96,1.52

In [15]:
to_weather.columns

Index(['destination_temp', 'destination', 'destination_clouds',
       'destination_pressure', 'destination_rain', 'destination_humidity',
       'destination_wind'],
      dtype='object')

In [ ]:
data1 = Ridedata.merge(from_weather, on= 'source')

In [ ]:
data1